body{
    text-align: center;
}
#button1{
    font-family: Verdana;
    font-size: 2em;
    padding: 5px 10px;
    background-color: aqua;
    border-radius: 5px;
}

#label1{
    font-family: Verdana;
    font-size: 2em;
}